@import "base";
@import "compass";
@import "fonts";

// SHORT HOWTO
// =======Sprites
// .whatever{
// 	@include sized-sprite($icons, badge_hit);
// 	@include retina{
// 		@include sized-sprite($icons, badge_new);
// 	}
// }
// =======animation example
// @include keyframes(rotate) {
//    from {
//       @include rotate(0);
//    }
//    to {
//       @include rotate(360);
//    }
// }
// =======animation usage
// body:hover{
// 	@include animation(rotate 200s linear infinite);
// }
// =======gradient example
// body{
// @include background-image(linear-gradient(#232323, #5c5c5c));
// }
// =======making bw-images
// img{@extend %gray;}
// BTW these comments will not render into css

/* --------------- reset.css --------------- */

// @font-face {
// 	font-family: "FixFont";
// 	src: url();
// }

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

a {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
	color: #666;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td, td img {
	vertical-align: top;
}

input, select, button, textarea {
	margin: 0;
	font-size: 100%;
	color: #666;
}

input[type="checkbox"] {
	vertical-align: bottom;
}

input[type="radio"] {
	vertical-align: text-bottom;
}
input::-ms-clear {
    display: none;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}

sup {
	vertical-align: super;
	font-size: smaller;
}


/* --------------- /reset.css --------------- */

.clearfix:before, .clearfix:after {
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
    clear: both;
}

.clearfix {
	zoom: 1;
}

body {
  position: relative;
  font-size: 13px;
  font-family: RobotoRegular, Arial, sans-serif;
  color: #2f2f2f;
}

label, input[type="button"], input[type="submit"], button {
	cursor: pointer;
}

ul{
  list-style: none;
}

//    VAR

$Roboto-R: RobotoRegular, Arial, sans-serif;
$Roboto-M: RobotoMedium, Arial, sans-serif;
$Roboto-B: RobotoBold, Arial, sans-serif;

$gray: #545454;
$gray-light: #f0f0f0;
$bold-gray: #363636;

$blue: #007bb6;
$blue-dark: #134a93;
$blue-light: #4ca3f3;

$red: #e1070a;



//  tegs

.ba-container{
  max-width: 1125px;
  padding-right: 40px;
  padding-left: 40px;
  margin: 0 auto;
  @include respond-to(mobile){
	padding-right: 10px;
	padding-left: 10px;
  }
}

img{
  display: block;
}

h2{
  font-family: $Roboto-R;
  font-size: 32px;
  font-weight: normal;
  text-transform: uppercase;
  padding-bottom: 15px;
}

h3{
  font-family: $Roboto-B;
  font-size: 26px;
  font-weight: normal;
  text-transform: uppercase;
  padding-bottom: 15px;
}

h4{
  font-family: $Roboto-M;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  padding-bottom: 30px;
}

p{
  font-family: $Roboto-R;
  color: $gray;
  line-height: 16px;
  padding-bottom: 5px;
}

